.Card {
    background-color: rgba(255, 254, 170, 0.829);
    border: 1px solid grey;
    border-radius: 5px;
    /* display: flex;
    flex-direction: column; */
    padding: 25px;
    cursor: pointer;
    /* -moz-osx-font-smoothing: grayscale; */
    /* backface-visibility: hidden; */
    /* transform: translateZ(0); */
    /* transition: transform 0.25s ease-out; */
}

.Card:hover {
    transform: scale(1.05);
}