.App {
  text-align: center;
  /* background: linear-gradient(to left, #566480 30%, #925e8f 100%); */
}

.App-header {  
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(21, 206, 113);
  font-family: "Rock Salt";
  text-shadow: 4px 2px brown;
}
